<div class="headerItens">
    <div class="titles-container">
        <h1 class="header__title">Colour Challenge</h1>
        
    </div>
    <div class="scores-container">
        <div class="information-container">Score
            <div class="score__points">
                {{$ctrl.myScore}}
            </div>
        </div>
        <div class="information-container"> Best
            <div class="best__points">
                {{$ctrl.myBestValue[0]}}
            </div>
        </div>
    </div>
<h2 ng-class="{'header__loser':true,
               'shake-top': $ctrl.loseTheGame,
               'header__loser--show': $ctrl.loseTheGame
               }"> You lose!</h2>
</div>